{% extends 'scionlab/base.html' %}

{% block title %}{{block.super}} Registration{% endblock %}
{% block content_title %}SCIONLab Registration{% endblock %}

{% block content %}
<p>Your registration was successful!</p>
<p>
Before you can login, you must activate your account with the activation link sent to your
email address. If you did not receive this email, please check your junk/spam
folder. If you entered an incorrect email address, you will need to re-register
with the correct email address.
</p>
{% endblock content %}
