{% extends 'scionlab/base.html' %}
{% load crispy_forms_tags %}
{% load recaptcha2 %}

{% block meta %}{% recaptcha_explicit_support %}{% endblock %}
{% block title %}{{block.super}} Registration{% endblock %}
{% block content_title %}SCIONLab Registration{% endblock %}

{% block content %}
  <div class="mt-3">
    <a class="text-muted text-lighter" href="{% url 'registration_resend' %}">Registered and didn't receive the activation link?</a>
  </div>
  <div class="form-box mt-4">
    {% crispy form %}
  </div>


  {% recaptcha_explicit_init 'en' %}

{% endblock content %}
