{% extends 'scionlab/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Resend activation link{% endblock title%}
{% block content_title %}Resend activation link{% endblock content_title%}

{% block content %}

<p>Before you can login, you must activate your account with the activation link sent to your
email address. If you did not receive this email, please check your junk/spam
folder. If you entered an incorrect email address, you will need to re-register
with the correct email address.</p>
<p>Didn't receive the account activation link? Enter your email address below, and we'll email it again.</p>
<form method="post" class="form-box"> {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary">Resend</button>
</form>
{% endblock content %}
