Run your SCIONLab AS in a <em>Vagrant</em> VM.
Once you've saved your setup, you can download a tarfile with the link below. The <code>Vagrantfile</code> in this archive is all that you will need to start your AS:

<pre>
cd [..directory with unpacked Vagrantfile..]
vagrant up
</pre>

<ul>
  <li><a href="https://www.vagrantup.com/docs/installation/" target="_blank">Install Vagrant</a> and <a href="https://www.virtualbox.org/wiki/Downloads" target="_blank">install VirtualBox</a></li>
  <li>More details in the <a href="https://netsec-ethz.github.io/scion-tutorials/" target="_blank">tutorials</a>.
</ul>
