<p>
To install SCION from packages, please follow the steps in the <a href="https://docs.scionlab.org/content/install/pkg/" target="_blank">tutorials</a>.
As a very short summary, the commands to install the packages on Ubuntu are:
</p>
<pre>
sudo apt-get install apt-transport-https ca-certificates
echo "deb [trusted=yes] https://packages.netsec.inf.ethz.ch/debian all main" | sudo tee /etc/apt/sources.list.d/scionlab.list
sudo apt-get update
sudo apt-get install scionlab
</pre>

<p>
Once you've saved your setup, you can deploy the configuration to your machine. The easiest way is to run the <code class="nowrap">scionlab-config</code> script:
</p>
<pre>
{% if host_id and host_secret %}
sudo scionlab-config --host-id={{host_id}} --host-secret={{host_secret}}
{% else %}
# host-id/secret will be displayed here after saving your configuration
sudo scionlab-config --host-id=&lt;...&gt; --host-secret=&lt;...&gt;
{% endif %}
</pre>

<p>
Alternatively, you can download the configuration tarfile with the link below and manually unpack it following the instructions in the tutorials.
</p>
