<p>
Build SCION from sources following the instructions in the <a href="https://github.com/netsec-ethz/netsec-scion" target="_blank">README</a> and the <a href="https://netsec-ethz.github.io/scion-tutorials/install/src/" target="_blank">tutorials</a>.
</p>

<p>
Once you've saved your setup, you can download the configuration tarfile with the link below. After unpacking the <code>gen/</code> to the SCION source directory, you can start your AS using the development scripts (<code>scion.sh</code> and <code>supervisor/supervisor.sh</code>), as described in the tutorial.
</p>
