{{ attachment_points|json_script:"attachment_points" }}

<script>
const _VAGRANT_VM_LOCAL_IP = "10.0.2.15"
const _DEFAULT_BIND_PORT = "50000"
let attachment_points = JSON.parse(document.getElementById('attachment_points').textContent);
$(document).ready(function() {
  // Reset form to avoid stale dirty entries after page reload (firefox)
  document.getElementById("id_user_as_form").reset();
  // Only enable save button when form is dirty:
  // Disable Save button
  $(".savebtn").prop('disabled', true);
  // Enable Save button when any input field changes
  $(":input").change(enable_savebtn)
  $(":input").keyup(enable_savebtn)
  // When save button is clicked, don't show the navigate away warning
  $(".savebtn ").click(function(){
    window.onbeforeunload = null;
  });

  function enable_savebtn() {
    $(".savebtn").removeAttr('disabled');
    window.onbeforeunload = function() { return ""; }
  }

  // Handle attachment point VPN availability:
  $(".attachment").each(function() {
    let sel = $(this).find("select[id*='attachment_point']");
    // A wrapper to call `update_use_vpn_enable` with `$(this)` as its argument
    function _update_use_vpn_enable () { update_use_vpn_enable($(this)) }
    sel.change(_update_use_vpn_enable)
    // Manually call this to affect existing attachment points as well
    update_use_vpn_enable(sel);

    let attachment = sel.closest('.attachment')
    let toggle = attachment.find("input[id*='use_vpn']")

    toggle.change(function _update_ip_fields_show () { update_ip_fields_show($(this)) })
  });

  setup_bind_row_collapse();
  setup_new_attachment_point_collapse();
});

function get_installation_type() { return $('#accordion_id_user-as-installation_type').find('input[checked=checked]').val() }

function setup_bind_row_collapse() {
  let should_collapse_bind_row = (row) => {
    // Hide bind row only if no items specified
    let bind_ip = row.find('input[name*="bind_ip"]').val()
    let bind_port = row.find('input[name*="bind_port"]').val()
    return (bind_ip === '' && bind_port === '') || 
      (get_installation_type() === "VM" && bind_ip === _VAGRANT_VM_LOCAL_IP && bind_port === _DEFAULT_BIND_PORT)
  }
  $('.bind-row-collapser').each(function() {
    // Init collapser and bind-row
    let bind_row = $(this).closest('.attachment').find('.bind-row')
    bind_row.addClass('collapse')
    if (!should_collapse_bind_row(bind_row)) {
      bind_row.addClass('show')
      $(this).removeClass('collapsed')
    }
  });
  $('.bind-row-collapser').click(function() {
    // Toggle collapse state for collapser and bind-row
    let bind_row = $(this).closest('.attachment').find('.bind-row')
    $(this).toggleClass('collapsed')
    bind_row.collapse('toggle')
  });
}

function setup_new_attachment_point_collapse() {
  let should_collapse_new_ap = (new_ap) => {
    // Hide bind row only if no items specified
    let public_ip = new_ap.find('input[name*="public_ip"]').val()
    let public_port = new_ap.find('input[name*="public_port"]').val()
    let bind_ip = new_ap.find('input[name*="bind_ip"]').val()
    let bind_port = new_ap.find('input[name*="bind_port"]').val()
    let ap = new_ap.find('select[name*="attachment_point"]').val()
    return public_ip === '' && public_port == 50000 && bind_ip === '' && bind_port === '' && ap === ''
  }
  let collapser = $('#new-ap-collapser')
  let attachment = collapser.closest('.attachment')
  let new_ap = attachment.find('.attachment-form')
  new_ap.addClass('collapse')
  if (!should_collapse_new_ap(new_ap)) {
    new_ap.addClass('show')
    collapser.removeClass('collapsed')
  }
  collapser.click(function() {
    collapser.toggleClass('collapsed')
    new_ap.collapse('toggle')
  });
}

// Enable/disable the use_vpn option depending on whether the selected attachment point
// supports VPN.
// This will uncheck the option when disabling it and unhide the IP-fields (see
// update_ip_fields_show).
function update_use_vpn_enable(sel) {
  let sel_el = sel.get(0);
  let selected_ap = sel_el.options[sel_el.selectedIndex].value;
  let has_vpn = false
  if (selected_ap !== '') has_vpn = attachment_points[selected_ap].has_vpn

  // Traverse the DOM to get the container of this attachment point
  let attachment = sel.closest('.attachment')
  let toggle = attachment.find("input[id*='use_vpn']")
  if(has_vpn){
    toggle.prop('disabled', false);
    toggle.prop('checked', toggle.prop('was-checked'));
    toggle.removeAttr('was-checked');
    update_ip_fields_show(toggle);
  } else {
    toggle.prop('disabled', true);
    toggle.prop('was-checked', toggle.prop('checked'));
    toggle.prop('checked', false);
    if (toggle.prop('was-checked')) update_ip_fields_show(toggle)
  }
}

// hide/show the IP fields of the attachments depending on whether the VPN option is enabled
function update_ip_fields_show(toggle) {
  // Traverse the DOM to get the container of this attachment point
  let attachment = toggle.closest('.attachment');
  let public_ip_container = attachment.find("input[id*='public_ip']").closest('.formColumn')
  let bind_ip_container = attachment.find("input[id*='bind_ip']").closest('.formColumn')
  let bind_port_container = attachment.find("input[id*='bind_port']").closest('.formColumn')
  let bind_options_collapser = attachment.find('.bind-row-collapser')
  if(toggle.prop("checked")) {
    public_ip_container.hide();
    bind_ip_container.hide();
    bind_port_container.hide();
    bind_options_collapser.hide();
  } else {
    public_ip_container.show();
    bind_ip_container.show();
    bind_port_container.show();
    bind_options_collapser.show();
  }
}
</script>
