{% load crispy_forms_tags %}
{% load widget_tweaks %}

{# Partial with the fields for a User-AS form. To be included inside a <form>-tag. #}
{# TODO(matzf): JS: hide use_vpn if *selected* AP does not support VPN #}
{# TODO(matzf): JS: hide public-ip field if use_vpn is selected #}
{# TODO(matzf): add bind-address/port (hidden/collapsed by default?), #}
{# TODO(matzf): should we just use django-crispy-forms? #}

{% if form.non_field_errors %}
<div class="alert alert-warning">
  {{ form.non_field_errors }}
</div>
{% endif %}

{{ form.attachment_point|as_crispy_field }}
{{ form.label|as_crispy_field }}
{{ form.installation_type|as_crispy_field }}
{{ form.use_vpn|as_crispy_field }}
{{ form.public_ip|as_crispy_field }}
{{ form.public_port|as_crispy_field }}
{{ form.bind_ip|as_crispy_field }}
