{{ attachment_points|json_script:"attachment_points" }}

<script>
$(document).ready(function() {
  // Reset form to avoid stale dirty entries after page reload (firefox)
  document.getElementById("id_user_as_form").reset();
  // Only enable save button when form is dirty:
  // Disable Save button
  $(".savebtn").prop('disabled', true);
  // Enable Save button when any input field changes
  $(":input").change(enable_savebtn)
  $(":input").keyup(enable_savebtn)
  // When save button is clicked, don't show the navigate away warning
  $(".savebtn ").click(function(){
    window.onbeforeunload = null;
  });


  // Handle attachment point VPN availability:
  $(".attachment").each(function() {
    let sel = $(this).find("select[id*='attachment_point']");
    update_use_vpn_enable(sel);
    let attachment = sel.closest('.attachment')
    let toggle = attachment.find("input[id*='use_vpn']")
    // A wrapper to call `update_ip_fields_show` with `$(this)` as the argument of the function
    function _update_ip_fields_show () { update_ip_fields_show($(this)) }
    toggle.change(_update_ip_fields_show)
  });
  // Trigger `update_user_as_ip_fields_show` whenever the *new* attachment-point is changed
  $(".attachment select[id*='attachment_point']").last().change(update_user_as_ip_fields_show);
});


function enable_savebtn() {
  $(".savebtn").removeAttr('disabled');
  window.onbeforeunload = function() { return ""; }
}

let attachment_points = JSON.parse(document.getElementById('attachment_points').textContent);

// Enable/disable the use_vpn option depending on whether the selected attachment point
// supports VPN.
// This will uncheck the option when disabling it and unhide the IP-fields (see
// update_ip_fields_show).
function update_use_vpn_enable(sel) {
  let sel_el = sel.get(0);
  let selected_ap = sel_el.options[sel_el.selectedIndex].value;
  if (selected_ap === '') return;
  let has_vpn = attachment_points[selected_ap].has_vpn;

  // Traverse the DOM to get the container of this attachment point
  let attachment = sel.closest('.attachment')
  let toggle = attachment.find("input[id*='use_vpn']")
  if(has_vpn){
    toggle.prop('disabled', false);
    toggle.prop('checked', toggle.prop('was-checked'));
    toggle.removeAttr('was-checked');
    update_ip_fields_show(toggle);
  } else {
    toggle.prop('disabled', true);
    toggle.prop('was-checked', toggle.prop('checked'));
    toggle.prop('checked', false);
  }
}

// hide/show the IP fields of the attachments depending on whether the VPN option is enabled
function update_ip_fields_show(toggle) {
  // Traverse the DOM to get the container of this attachment point
  let attachment = toggle.closest('.attachment');
  let public_ip_container = attachment.find("input[id*='public_ip']").closest('.formColumn')
  let bind_ip_container = attachment.find("input[id*='bind_ip']").closest('.formColumn')
  let bind_port_container = attachment.find("input[id*='bind_port']").closest('.formColumn')
  if(toggle.prop("checked")) {
    public_ip_container.hide();
    bind_ip_container.hide();
    bind_port_container.hide();
  } else {
    public_ip_container.show();
    bind_ip_container.show();
    bind_port_container.show();
  }
  update_user_as_ip_fields_show();
}
function update_user_as_ip_fields_show() {
  /* 
    Hide or show the ip fields of the UserAS configuration based on connection types selected.
    Consider only the toggles related select inputs that are not in a `default` state 
    (this is needed to handle the `use_vpn` of the last attachment, i.e. the new one)
  */
  // Whether or not an attachment has been selected (otherwise select is in `default` state)
  let is_attachment_selected = (attachment) => attachment.find("select[id*='attachment_point']").get(0).value !== '';
  // `attachments` not in `default` state
  let attachments = $('.attachment').filter((_, attachment) => is_attachment_selected($(attachment)));
  // VPN `toggles` of the `attachments`
  let toggles = $.map(attachments, (attachment, _) => $(attachment).find("input[id*='use_vpn']").get(0));
  // Are all considered attachments reached with a VPN connection?
  let should_hide = $.map(toggles, (t, _) => t.checked).every((is_checked) => is_checked);
  let fields_container = $("div[id*=user-as-public_ip").closest('.row')
  if (should_hide) {
    fields_container.hide();
  } else {
    fields_container.show();
  }
}
</script>
