# Testing:
django-webtest>=1.9.6
flake8
flake8-formatter-junit-xml
parameterized
unittest-xml-reporting
tblib
# fix to same version as requirements:
typing-extensions==4.0.1
# require min version for lxml dependency via unittest-xml-reporting:
lxml>=4.9.1
