Django>=3.2.20,<5.0
cryptography>=41.0.2
django-crispy-forms>=1.9.0
django-extensions
django-maintenance-mode>=0.14.0
django-recaptcha2
django-registration>=3.1
graphviz
gunicorn
jinja2
psycopg2-binary  # PostgreSQL backend
pynacl
pyyaml>=6.0.1  # for fixtures and config generation; high severity vulnerability before 4.1 (CVE-2017-18342), Cython>=3.0.0 (released in 2023) incompatible before 6.0.1
scrypt
toml


# Sub-dependencies of above packages which have security implications, and thus require specific prerequisites:
requests>=2.31.0
