<div class="register-box">
  <div class="register-logo">
    <b>Account Management</b>
  </div>
  <div class="register-box-body">
    <p class="login-box-msg">Change your SCIONLab Password</p>


    <div ng-show="error" class="alert alert-danger alert-dismissible fade in">
      <button type="button" class="close" aria-label="Close" ng-click="dismissError()">&times;</button>
    {{error}}
    </div>
    <div ng-show="message" class="alert alert-success alert-dismissible fade in">
      <button type="button" class="close" aria-label="Close" ng-click="dismissSuccess()">&times;</button>
    {{message}}
    </div>

    <form name="passwordForm" ng-submit="changePassword(pwForm)" ng-hide="message">
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="pwForm.currentPassword"
               name="currentPassword" autocomplete="current-password" placeholder="Current password"
               required auto-focus>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="pwForm.password" name="password"
               autocomplete="new-password" placeholder="New password" required ng-minlength="8"
               ng-blur="password_entered=true">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="error" ng-if="passwordForm.password.$error.minlength && password_entered">
          Please use at least 8 characters.</span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="pwForm.passwordConfirmation"
               check-match="pwForm.password" name="password_confirmation"
               autocomplete="new-password" placeholder="Retype new password" required
               ng-blur="password_confirmation_entered=true">
        <span class="glyphicon glyphicon-repeat form-control-feedback"></span>
        <span class="error" ng-if="passwordForm.password_confirmation.$error.match && password_confirmation_entered">Please enter matching passwords.</span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block">Change password</button>
        </div>
      </div>
    </form>
    <a href="#/user" class="btn btn-block btn-primary" ng-show="message">Back to dashboard</a>
  </div>
</div>
