{% extends 'scionlab/base.html' %}

{% block title %}SCIONLab{% endblock %}
{% block content_title %}Welcome to SCIONLab{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm">
<p>
SCIONLab is a global research network to test the SCION next-generation
internet architecture. The main idea of SCIONLab is that participants join the
SCION network with their own computation resources and can easily set up and
run their own full-fledged SCION autonomous systems (ASes).
</p>
<p>
These ASes will actively participate in routing in the SCIONLab network,
SCIONLab enables realistic experimentation with the unique properties of SCION
architecture.
</p>

{% if user.is_authenticated %}
  <a class="btn btn-primary btn-lg" href="{% url 'user' %}">Manage my ASes</a>
{% else %}
  <a class="btn btn-primary btn-lg" href="{% url 'registration_form' %}">Register and Create my SCIONLab AS</a>
  <a class="btn btn-outline-secondary btn-lg" href="{% url 'login' %}">Login</a>
{% endif %}
</div>

<div class="col"></div>
</div>

<br>
<hr>

<h4>About SCION</h4>
<p>
SCION (<b>S</b>calability, <b>C</b>ontrol and <b>I</b>solation on next-generation <b>N</b>etworks)
is a next-generation internet architecture. 
</p>
<p>
See the <a href="https://www.scion-architecture.net">SCION Architecture</a> main page for more details.
</p>

{% lorem %}

<hr>

<h4>About SCIONLab</h4>

{% lorem 3 %}

{% endblock content %}
