{% extends 'scionlab/base.html' %}
{% load static %}

{% block content_title %}Welcome to SCIONLab{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm">
<p class="lead">
SCIONLab is a global research network to test the SCION next-generation internet architecture.
</p>
<p>
You can join the SCION network with your own computation resources and can set up and run your own autonomous systems (ASes).
Your ASes will actively participate in routing in the SCIONLab network and enable realistic experimentation with the unique properties of the SCION architecture.
</p>

{% if user.is_authenticated %}
  <a class="btn btn-outline-primary btn-lg" href="{% url 'user' %}">Manage My SCIONLab ASes</a>
{% else %}
  <a class="btn btn-primary btn-lg" href="{% url 'registration_form' %}">Register to Create my SCIONLab ASes</a>
  <a class="btn btn-outline-secondary btn-lg" href="{% url 'login' %}">Login</a>
{% endif %}
</div>

<div class="col">
  <figure class="figure">
    <a href="{% url 'topology.png' %}">{# poor mans image modal #}
      <img class="img-thumbnail img-fluid center-block" src="{% url 'topology.png' %}"/>
    </a>
    <figcaption class="figure-caption">The topology of the SCIONLab infrastructure ASes and the ISD boundaries. Core ASes are red. SCIONLab attachment points are green.</figcaption>
  </figure>
</div>
</div>

<hr class="mt-3">
<h4>About SCION</h4>

<p>
SCION (<i>S</i>calability, <i>C</i>ontrol and <i>I</i>solation <i>o</i>n next-generation <i>N</i>etworks) is an inter-domain network architecture, designed to provide route control, failure isolation, and explicit trust information for end-to-end communication.
</p>
<p>
SCION organizes ASes into groups of independent routing planes, called isolation domains (ISDs), which interconnect to provide global connectivity.
ISDs naturally provide isolation of routing failures and misconfiguration, give endpoints strong control for both inbound and outbound traffic, provide meaningful and enforceable trust, and enable scalable routing updates with high path freshness.
</p>
<p>
As a result, the SCION architecture provides strong resilience and security properties as an intrinsic consequence of its design.
Besides high security, SCION also provides a scalable routing infrastructure, and high efficiency for packet forwarding.
</p>
<p>
SCION is a path-aware architecture:
end hosts learn about available network path segments, and combine them into end-to-end paths that are carried in packet headers.
Thanks to embedded cryptographic mechanisms, path construction is constrained to the route policies of ISPs and receivers, offering path choice to all the parties: senders, receivers, and ISPs.
These features also enable multi-path communication, which is an important approach for high availability, rapid failover in case of network failures, increased end-to-end bandwidth, dynamic traffic optimization, and resilience to DDoS attacks.
</p>
<p>
SCION is designed to interoperate with the existing networking infrastructure.
Deployment of SCION can utilize existing internal routing and forwarding infrastructure of an AS, and only require installation or upgrade of a few border routers.
A SCION-IP-Gateway (SIG) in the local infrastructure allows legacy end hosts and applications to be unaware of SCION.
</p>

<p>
Please refer to the <a href="https://www.scion-architecture.net" target="_blank">SCION Architecture</a> main page for more information.
</p>


<hr class="mt-5">
<h4>About SCIONLab</h4>

<p>
SCIONLab is a global research network to test and experiment with the SCION internet architecture.
As a participant of SCIONLab, you will be able to create your own ASes that actively participate in the SCION inter-domain routing.
Your AS will be running on your own hardware, under your full control.
</p>

<p>
The infrastructure of SCIONLab comprises a network of globally connected ASes.
A number of SCIONLab ASes are configured to act as "Attachment Points", and you can choose one as the uplink for your AS.
The link between your AS and the attachment point AS is established as an overlay link over the legacy Internet.
</p>

<p>
The SCIONLab website serves to simplify and coordinate the setup of experimental ASes.
Once created and configured in the SCIONLab website, you will be able to download the bundled configuration files for the SCION services and run your AS.
Please refer to the <a href="https://netsec-ethz.github.io/scion-tutorials/" target="_blank">Tutorials</a> for setup instructions.
</p>

<p>
In order to simplify the management of ASes and lower the entry-barrier for participation, the design of SCIONLab deliberately has some restrictions that are <i>not</i> present in the production deployment of SCION:
<ul>
  <li>SCIONLab centralizes management of the control plane public key infrastructure.
    In the real deployment of SCION, there is no such single point of failure. </li>
  <li>Overlay links over the publicly routed Internet are used both in the infrastructure and between the infrastructure and user-owned ASes.
    Therefore, the security, availability, and performance properties of SCION are not fully realized.
  </li>
</ul>
</p>


{% endblock content %}
