<div class="register-box">
  <div class="register-logo">
    <b>Register</b>
  </div>
  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <div ng-show="error" class="alert alert-danger alert-dismissible fade in">
      <button type="button" class="close" aria-label="Close" ng-click="dismissError()">&times;</button>
    {{error}}
    </div>
    <div ng-show="message" class="alert alert-success alert-dismissible fade in">
      <button type="button" class="close" aria-label="Close" ng-click="dismissSuccess()">&times;</button>
    {{message}}
    </div>


    <form name="registrationForm" ng-submit="register(user)">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" ng-model="user.first" name="first"
               placeholder="First name" required auto-focus>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" ng-model="user.last" name="last"
               placeholder="Last name" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" ng-model="user.organisation" name="organisation"
               placeholder="Organisation" ng-required="false">
        <span class="glyphicon glyphicon-briefcase form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" ng-model="user.email" name="email"
               placeholder="Email address"
               required ng-blur="email_entered=true">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span class="error"
              ng-if="registrationForm.email.$error.email && email_entered">
          Please enter a valid email address.
        </span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="user.password" name="password"
               placeholder="Password" autocomplete="new-password"
               required ng-minlength="8" ng-blur="password_entered=true">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="error" ng-if="registrationForm.password.$error.minlength && password_entered">
          Please use at least 8 characters.</span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="user.password_confirmation"
               check-match="user.password" autocomplete="new-password"
               name="password_confirmation" placeholder="Retype password" required
               ng-blur="password_confirmation_entered=true">
        <span class="glyphicon glyphicon-repeat form-control-feedback"></span>
        <span class="error"
              ng-if="registrationForm.password_confirmation.$error.match && password_confirmation_entered">
          Please enter matching passwords.
        </span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <div vc-recaptcha ng-model="user.captcha" key="siteKey"></div>
          <br>
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <br>
    <a href="#/login" class="text-center">I am already registered</a>
  </div>
</div>
