{% extends 'scionlab/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create User AS{% endblock %}

{% block content %}
<form action="{% url 'user_as_add' %}" method="post">
  {% csrf_token %}
  <div class="form-box">
    <h2>Configuration</h2>
    {% for field in userASForm %}
      {{ field|as_crispy_field }}
    {% endfor %}
  {{ userASForm.non_field_errors }}

  <h2>Attachment point</h2>
    {% for field in addAttachmentLinkForm %}
      {{ field|as_crispy_field }}
    {% endfor %}
    {{ addAttachmentLinkForm.non_field_errors }}
    <button type="submit" class="btn btn-primary savebtn">Create AS</button>
  </div>
</form>

{% include "scionlab/partials/user_as_form_script.html" with attachment_points=attachment_points %}

{% endblock content %}
