{{define "content"}}

<div style="max-width: 800px; margin: 10% auto 5% auto; padding: 50px 50px; background: #cccccc">
    <h1>Congratulations {{.FirstName}} {{.LastName}}!</h1>
    <p>You have successfully verified your email address.</p>
    <p>Start using SCIONLab Coordination Service now by logging in.</p>

</div>
<div style="max-width: 400px; margin: 5% auto">
    <p><a href="/#/login"> <input type="submit" value="Login" class="btn btn-primary btn-flat btn-block" ></a></p>
</div>

{{end}}
