version: "2"

networks:
  as_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.31.0.0/16

services:
  coord:
    build:
      context: ..
      dockerfile: .circleci/Dockerfile-coord
    networks:
      as_net:
        ipv4_address: 172.31.0.10
    ports:
      - "8432:8000"
    volumes:
      - ../run/:/scionlab/run/:z

  huey:
    build:
      context: ..
      dockerfile: .circleci/Dockerfile-coord
    command: python manage.py run_huey -w 8
    networks:
      as_net:
        ipv4_address: 172.31.0.11
    volumes:
      - ../run/:/scionlab/run/

  as1301:
    build:
      context: ..
      dockerfile: .circleci/Dockerfile-scionHost
    networks:
      as_net:
        ipv4_address: 172.31.0.110
    env_file: /tmp/as1301.env
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro

  as1303:
    build:
      context: ..
      dockerfile: .circleci/Dockerfile-scionHost
    networks:
      as_net:
        ipv4_address: 172.31.0.111
    env_file: /tmp/as1303.env
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro

  as1305:
    build:
      context: ..
      dockerfile: .circleci/Dockerfile-scionHost
    networks:
      as_net:
        ipv4_address: 172.31.0.112
    env_file: /tmp/as1305.env
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro

  as1401:
    build:
      context: ..
      dockerfile: .circleci/Dockerfile-scionHost
    networks:
      as_net:
        ipv4_address: 172.31.0.113
    env_file: /tmp/as1401.env
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro

  as1405:
    build:
      context: ..
      dockerfile: .circleci/Dockerfile-scionHost
    depends_on:
      - as1401
    networks:
      as_net:
        ipv4_address: 172.31.0.114
    env_file: /tmp/as1405.env
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
  useras4:
    build:
      context: ..
      dockerfile: .circleci/Dockerfile-scionHost
    depends_on:
      - as1405
    networks:
      as_net:
        ipv4_address: 172.31.0.2
    env_file: /tmp/as4.env
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
