.hotspot-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.hotspot-text {
  height: 40px;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  transition: all 0.2s ease;
}  

.hotspot-wrapper:hover .hotspot-text {
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(56, 56, 56, 0.9);
  color: #fff;
}

.hotspot-wrapper img {
  max-width: 100% !important;
  clear: both;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.hotspot-wrapper:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
