{% extends 'scionlab/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Login{% endblock title%}

{% block content %}
  <div id="login-form-panel">
    <form method="post" id="login-form" class="form-box">{% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="mb-2 btn btn-primary btn-block">Log in</button>
      <a class="text-muted text-lighter" href="{% url 'password_reset' %}">Forgot password?</a>
    </form>
    <div class="mt-3 form-box text-lighter">
      New to SCIONLab? <a href="{% url 'registration_form' %}">Create an account</a>.
    </div>
  </div>
{% endblock content %}
