{% extends 'scionlab/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Password change{% endblock title%}
{% block content_title %}Password change{% endblock content_title%}

{% block content %}
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<form method="post" class="form-box">{% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary">Change my Password</button>
</form>
{% endblock content %}
