{$SCIONLAB_SITE} {
    root /var/www/scionlab
    proxy / django:8000 {
        except /static
        transparent
    }
    log stdout
    errors stderr
    tls scionlab-admins@sympa.ethz.ch
}

https://scionlab.org {
    redir {$SCIONLAB_SITE}{uri}
    tls scionlab-admins@sympa.ethz.ch
}
