[Unit]
Description=SCION Visualization
After=network-online.target
Wants=network-online.target

[Service]
User=_USER_
WorkingDirectory=/home/_USER_/go/src/github.com/scionproto/scion/sub/scion-viz/python/web
Environment="PYTHONPATH=/home/_USER_/go/src/github.com/scionproto/scion/python:/home/_USER_/go/src/github.com/scionproto/scion"
ExecStart=/usr/bin/python3 /home/_USER_/go/src/github.com/scionproto/scion/sub/scion-viz/python/web/manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
