[Unit]
Description=scionlab-config daemon mode
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/scionlab-config --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
