[Unit]
Description=service to start scionlab-config script in daemon mode
#this expects to be called with systemctl start scionlab-config@"host-id:host-secret".service

[Service]
Type=simple
Environment="INPUT=%I"
#parsing of the input
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment HOST_ID=$${INPUT%:*}"
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment HOST_SECRET=$${INPUT#*:}"
#running the script
ExecStart=/usr/bin/bash -c "exec scionlab-config --host-id $HOST_ID --host-secret $HOST_SECRET --daemon"
