mode server
tls-server

dev tun
port ${ServerPort}
proto udp

topology subnet
push "topology subnet"
ifconfig ${ServerIP} ${Netmask}
ifconfig-pool ${SubnetStart} ${SubnetEnd} ${Netmask}
route ${Subnet} ${Netmask}
push "route ${ServerIP}"

ifconfig-pool-persist ipp.txt
client-config-dir ccd
ccd-exclusive

keepalive 10 120
comp-lzo no
push "comp-lzo no"

cipher AES-128-CBC
txqueuelen 100

user nobody
group nogroup
persist-key
persist-tun
status openvpn-status.log
verb 3
mute 20

# certificates and keys
dh   dh.pem
<ca>
${CACert}</ca>
<cert>
${ServerCert}</cert>
<key>
${ServerKey}</key>
